/*   Theme default css */
@font-face{
  src: url(../fonts/HelveticaNeueRegular.ttf);
  font-family: HelveticaNeue;
  font-weight: 400;
}
@font-face{
  src: url(../fonts/HelveticaNeueMedium.ttf);
  font-family: HelveticaNeue;
  font-weight: 500;
}
@font-face{
  src: url(../fonts/HelveticaNeuBold.ttf);
  font-family: HelveticaNeue;
  font-weight: 700;
}
/* ======font family=========
 font-family: 'Montserrat', sans-serif; 
*/



body {
  font-family: HelveticaNeue;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p{
  font-size: 20px;
}
  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: HelveticaNeue;
  font-weight: 700;
  margin-top: 0px; 
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background: transparent linear-gradient(92deg, #A2EAFF 0%, #AED0FF 44%, #BBAEFF 100%) 0% 0% no-repeat padding-box;
  border-radius: 30px;
}

/* default-css END 
================================== */
 


.header-area {
  /* padding: 13px 0 1px; */
  width: 100%;
  z-index: 99;
  background: transparent linear-gradient(92deg, #A2EAFF 0%, #AED0FF 44%, #BBAEFF 100%) 0% 0% no-repeat padding-box;
}


.header-area ul li {
  display: inline;
  text-align: left;
}
ul#nav{width: max-content;}
.header-area a {
  display: inline-block;
  width: max-content;
  margin: 0;
  text-decoration: none;
  color: #333;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000036;
  font-size: 18px;
  margin-right: 50px;
  padding-top: 12px;
}

.two:hover ~ hr {
  margin-left: 29%;
  width: 80px;
}

.three:hover ~ hr {
  margin-left: 67%;
  width: 69px;
}


.header-area hr {
  height: 15px;
  width: 50px;
  margin: 0;
  border: none;
  transition: .3s ease-in-out;
  background: #1051FF;
  border-radius: 8px;
  transform: translateY(25px);
  opacity: 1;
}

/* Header section END */


.hero_area {background-repeat: no-repeat;background-size: cover;margin-bottom: 100px;background-position-y: -60px;}

section.hero_area .row {
    align-items: center;
}
.container {
}
.hero_cont {
}

.hero_cont h1 {
    font-size: 54px;
    font-weight: 500;
    color: #535353;
    line-height: 1.5;
    max-width: 530px;
    margin-bottom: 40px;
}
.email {background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 10px 20px #00000029;border-radius: 31px;overflow: hidden;height: 62px;max-width: 585px;padding: 0 307px 0px 40px;position: relative;z-index: 1;}

.email a {
    position: absolute;
    font-size: 24px;
    color: #fff;
    background: transparent linear-gradient(104deg, #F9B6D0 0%, #EF6AC0 100%) 0% 0% no-repeat padding-box;
    border-radius: 37px;
    width: 295px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.email a:hover {
    background: transparent linear-gradient(273deg, #F9B6D0 0%, #EF6AC0 100%) 0% 0% no-repeat padding-box;
}

.email input {
    width: 100%;
    border: none;
    height: 100%;
    font-size: 24px;
    font-weight: 500;
}
.hero_img {
}

.hero_img img {
    margin-top: 8px;
    margin-bottom: 30px;
}







.blog_area {margin-bottom: 200px;}
.sgl_blg {max-width: 300px;}

.sgl_blg i {
    display: block;
    margin-bottom: 50px;
}






.ice_cream {position: relative;padding: 50px 0 100px;}

section.ice_cream:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(109deg, #A2EAFF 0%, #AED0FF 44%, #BBAEFF 100%) 0% 0% no-repeat padding-box;
    opacity: 0.2;
    z-index: -1;
}
.ice_cont {max-width: 585px;}

.ice_cont h2 {
    font-size: 36px;
    line-height: 1.3;
    color: #FF0062;
    font-weight: 500;
    margin-bottom: 20px;
}
.ice_cream_form {background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 5px 6px 9px #00000029;border-radius: 20px;width: 510px;height: 520px;padding: 50px 30px;position: absolute;top: -100px;z-index: 99;transition: .3s;}

.ice_cream_form.next {
    height: 640px;
}

.ice_cream_form.next .stap1 {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -4;
}

.ice_cream_form.next .stap2 {
    display: block;
}

.ice_cream_form label {
    display: block;
    margin-bottom: 45px;
    color: #5BA5C6;
}

.ice_cream_form input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    height: 45px;
    font-weight: 500;
    background: none;
}
.stap1 {/* display: none; */}
.thm_btn {font-size: 25px;font-weight: 500;background: #B6D7FF 0% 0% no-repeat padding-box;border-radius: 30px;width: 260px;display: flex;height: 60px;justify-content: center;align-items: center;color: #fff;margin-top: 56px;transition: .3s;}

.thm_btn:hover {
    background: rgb(110 184 208 / 15%) 0% 0% no-repeat padding-box;
    color: #67A9E5;
}
.stap2 {
    display: none;
}

.stap2 label {
}
.radio_btn_wrp {height: 110px;overflow-y: auto;overflow-x: hidden;margin: 20px 0 40px;}

.radio_btn_wrp label {
    margin-bottom: 17px;
}

.radio_btn_wrp label:last-child {
    margin-bottom: 0;
}

.radio_btn_wrp label:last-child input {
    position: absolute;
    display: none;
}

/* The container */
.containers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D9D9D9;
}

.checkmark:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #b1b1b16e;
}

/* On mouse-over, add a grey background color */
.containers:hover input ~ .checkmark {
  /* background-color: #ccc; */
}

/* When the radio button is checked, add a blue background */
.containers input:checked ~ .checkmark {
  background-color: #7a2e2e00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containers input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containers .checkmark:after {
 	top: 50%;
 	left: 50%;
 	width: 18px;
 	height: 18px;
 	border-radius: 50%;
 	background: white;
 	background: transparent radial-gradient(closest-side at 63% 33%, #8ECBE5 0%, #1EA1C1 100%) 0% 0% no-repeat padding-box;
 	transform: translate(-50%,-50%);
}
.radio_btn_wrp::-webkit-scrollbar{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CECECE;
border-radius: 8px;
width: 8px;
}
.radio_btn_wrp::-webkit-scrollbar-thumb{
  background: transparent linear-gradient(270deg, #64AFCF 0%, #A2FFF8 100%) 0% 0% no-repeat padding-box;
border: 1px solid #959595;
border-radius: 8px;
}









.footer_area {/* height: 530px; */background: #BE59D6 0% 0% no-repeat padding-box;position: relative;z-index: 1;}

footer.footer_area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 155px;
    left: 0;
    top: 0;
    background: #B876DE;
    z-index: -1;
}
.footer_cont {text-align: center;}

.footer_cont i {
    display: block;
    transform: translateY(-70px);
}

.footer_cont p {
    color: #fff;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.footer_cont i svg {
}